@font-face {
  font-family: 'Caveat';
  src: url("fonts/Caveat-Bold.ttf");
}

@font-face {
  font-family: 'Prosto One';
  src: url("fonts/ProstoOne-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	outline: 0 none;
	padding: 0;
	margin: 0;
	border: 0;
}
*, *::before, *::after {
	box-sizing: border-box;
}
li {
	list-style: none;
}

/*Common*/
body, html {
  width: 100%;
  overflow-x: hidden;
}
body {
	font-family: 'Montserrat-Regular';
	font-size: 16px;
	overflow-x: hidden;
}
.slogan {
  font-family: 'Prosto One';
  font-size: 5vw;
  line-height: 1;
}
.sub-slogan {
	font-size: 3vw;
  font-family: 'Caveat';
}
h3 {
  font-size: 30px;
  font-family: 'Montserrat-SemiBold';
}
h4 {
  font-size: 24px;
}
.py-custom {
  padding-top: 120px;
  padding-bottom: 120px;
}
.underlining {
  width: 50px;
  height: 3px;
}
.main-bg-color {
  background: #57134d;
}
.sub-bg-color {
  background: #ff7c38;
}
.main-color-line {
  background: #57134d;
}
.sub-color-line {
  background: #ff7c38;
}
.main-color {
	color: #57134d;
}
.sub-color {
  color: #ff7c38;
}
.white-button {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 0;
	padding: 8px 26px;
}
.white-button a {
	color: #fff;
}
.white-button a:hover {
  text-decoration: none;
}
.image-filter {
  filter: grayscale(100%);
}
.images-size {
	width: 100%;
  height: auto;
  object-fit: contain;
  object-position: 50% 0%;
}
.custom-offset {
  margin-top: 70px;
}

/*Backgrounds*/
.primary-dark-bg {
  background: #2b2547;
}
.primary-bright-bg {
  background: #ff7c38;
}
.connect {
	background-image: url('images/bg-contact.jpg');
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.connect-cover-bg {
	background: rgba(1,16,65,0.7);
}
.rates {
	background-image: url('images/rates-bg3.jpg');
	background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.rates-cover-bg {
	background: rgba(44, 7, 52,0.7);
}
.services, .site-footer, .stock {
	background: #f8f8f8;
}
/*Slider*/
.site-header {
  z-index: 10;
}
.slider {
  position: relative;
}
.carousel-inner, .carousel-inner .carousel-item {
  height: 70vh;
}
.item-1, .item-2, .item-3, .item-4 {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
}
.item-1 {
  background-image: url('images/kh1.jpg');
  background-position: 50% 50%;
}

.item-2 {
  background-image: url('images/kh2.jpg');
  background-position: 50% 50%;
}

.item-3 {
  background-image: url('images/kh3.jpg');
  background-position: 50% 50%;
}

.item-4 {
  background-image: url('images/kh4.jpg');
  background-position: 50% 0%;
} 
/* .carousel-item-image {
  height: 100%;
  object-fit: cover;
  object-position: center;
} */
.header-indicators {
  bottom: 30px;
  z-index: 1;
}
.header-indicators li {
  width: 12vw;
  height: 2px;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}
.header-indicators li span {
  background-color: transparent;
  width: 4vw;
  height: 100%;
  display: block;
}
.header-indicators .active span {
  background: #ff7c38;
}
.carousel-control-prev:hover {
  cursor: pointer;
}
/*Banner*/
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#57134d+25,57134d+25,ff7c38+92&1+0,0.7+100 */
background: -moz-linear-gradient(top,  rgba(87,19,77,1) 0%, rgba(87,19,77,0.93) 25%, rgba(255,124,56,0.72) 92%, rgba(255,124,56,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(87,19,77,1) 0%,rgba(87,19,77,0.93) 25%,rgba(255,124,56,0.72) 92%,rgba(255,124,56,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(87,19,77,1) 0%,rgba(87,19,77,0.93) 25%,rgba(255,124,56,0.72) 92%,rgba(255,124,56,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57134d', endColorstr='#b3ff7c38',GradientType=0 ); /* IE6-9 */

}
.slogan-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  text-align: center;
}
/*Header*/
.header-item-link, .navbar-nav .menu-item a {
  color: #fff;
  padding: 8px 0 !important;
  margin: 0 16px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  font-weight: bold;
}
.header-item-link:hover, .header-item.active .header-item-link,  .navbar-nav .menu-item a:hover {
  color: #ff7c38;
  border-bottom: 2px solid #ff7c38;
}
.navbar-toggler svg {
  fill: #ff7c38;
}
.phone-header-menu a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  width: 100px;
}

/*Free section*/
.free-item {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	padding: 50px 0;
}
.free-item:last-child {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.icon-common {
	font-size: 30px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.icon-aсcent {
	border: 2px solid #fff;
	color: #fff;
}
.icon-sub-color {
	border: 2px solid #ff7c38;
	color: #ff7c38;
}
/*Rsources*/
.resources .ctu-ultimate-wrapper-2 {
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
}
.resources .ctu-ulimate-style-2 {
  border-radius: 0; 
}
.resources .ctu-ulimate-style-2 .vc-tabs-li {
  cursor: pointer;
  float: left;
  list-style: none;
  margin-bottom: 0;
  position: relative;
  padding: 20px 10px;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  width: 275px;
  font-family: "Open Sans";
  font-weight: 500;
  background: #ff7c38;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  /* margin-left: -1px; */
}
.resources .ctu-ulimate-style-2 .vc-tabs-li:hover {
  filter: opacity(0.8);
}
.resources .ctu-ulimate-style-2 .vc-tabs-li:last-child {
  border-right: none;
}
.resources .ctu-ulimate-style-2 .vc-tabs-li span .oxi-icons {
  color: #ffffff !important;
}
.resources .ctu-absulote {
  position: absolute;
  width: 101%;
  height: 3px;
  margin: auto;
  left: 0;
  right: 0;
  border-color: #57134d;
  border: 1px solid #57134d;
  /* border-radius: 10px; */
  bottom: -3px;
  background-color: #57134d;
}
.resources .ctu-ulimate-style-2 .vc-tabs-li span {
  width: 100%;
  display: block;
  text-align: center;
  /* border: 1px solid; */
}
.resources .ctu-ulimate-style-2 .vc-tabs-li.active .ctu-absulote {
  background-color: #57134d;
  border-color: #57134d;
}
.resources .ctu-ulitate-style-2-tabs {
  width: 100%;
  display: none;
  padding: 30px 20px;
  /* background-color: #f8f8f8; */
  border-bottom: 3px solid #57134d;
}
.resources .ctu-ulimate-style-2 .vc-tabs-li.active {
  color: #ffffff;
  background: #57134d;
  filter: opacity(1);
  transition: none;
}
.resources .ctu-ulimate-style-2 .vc-tabs-li.active span .oxi-icons {
  color: #ffffff !important;
}
.resources .ctu-ulimate-style-2 .vc-tabs-li span .oxi-icons {
  margin-bottom: 0 !important;
  font-size: 30px !important;
}

/*Connect*/
.connect input, .connect textarea {
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  padding: 0;
}
.connect input:focus, .connect textarea:focus {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-color: #ffffff;
  box-shadow: none;
}
.connect input::-webkit-input-placeholder, .connect textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.connect input::-moz-placeholder, .connect textarea::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.connect input:-ms-input-placeholder, .connect textarea:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.connect input:-moz-placeholder, .connect textarea:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.connect .white-button {
  margin-top: 40px;
  border: 1px solid #fff;
  color: #ffffff;
}
.white-button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.connect textarea {
  height: 120px;
}
.connect input[type="submit"] {
    padding: 8px 26px;
}
/*Footer*/
.footer-nav-link, .footer-nav a {
	color: #ff7c38;
  padding: 8px 0 !important;
  font-weight: bold;
  margin: 0 .75rem;
}
.footer-nav-link:hover, .footer-nav a:hover {
	color: rgb(18,26,58);
	text-decoration: none;
}

/* Pages */
.customize-support .no-scroll-page {
  min-height: calc(100vh - 160px);
}
.no-scroll-page {
  min-height: calc(100vh - 128px);
}

.main-info {
  font-family: 'Prosto One';
  font-size: 5vw;
  line-height: 1;
}
.sub-info {
	font-size: 3vw;
  font-family: 'Caveat';
}

.rates-banner {
  object-fit: cover;
  object-position: center;
  height: 300px;
  width: 100%;
}
.ratesType-page .oxi-addons-container {
  margin-bottom: 3rem;
}
.ratesType-page .ctu-ultimate-style-3-content, 
.ratesType-page .ctu-ultimate-style-5-content, 
.ratesType-page .ctu-ultimate-style-6-content {
  height: 100%;
  border-bottom: 3px solid #57134d;
}
.ratesType-page .ctu-ulimate-style-3 .vc-tabs-li, 
.ratesType-page .ctu-ulimate-style-5 .vc-tabs-li, 
.ratesType-page .ctu-ulimate-style-6 .vc-tabs-li {
  height: 100%;
  color: #ffffff;
  background: #ff7c38;
  border-left: 3px solid #57134d;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ratesType-page .ctu-ulimate-style-3 .vc-tabs-li:hover, 
.ratesType-page .ctu-ulimate-style-5 .vc-tabs-li:hover, 
.ratesType-page .ctu-ulimate-style-6 .vc-tabs-li:hover {
  filter: opacity(0.8);
}
.ratesType-page .ctu-ulimate-style-3 .vc-tabs-li:last-child, 
.ratesType-page .ctu-ulimate-style-5 .vc-tabs-li:last-child, 
.ratesType-page .ctu-ulimate-style-6 .vc-tabs-li:last-child {
  border-bottom: none;
}
.ratesType-page .ctu-ulimate-style-3 .vc-tabs-li em, 
.ratesType-page .ctu-ulimate-style-3 .vc-tabs-li.active span, 
.ratesType-page .ctu-ulimate-style-5 .vc-tabs-li em, 
.ratesType-page .ctu-ulimate-style-5 .vc-tabs-li.active span,
.ratesType-page .ctu-ulimate-style-6 .vc-tabs-li em, 
.ratesType-page .ctu-ulimate-style-6 .vc-tabs-li.active span {
  display: none;
}
.ratesType-page .ctu-ulimate-style-3 .vc-tabs-li, 
.ratesType-page .ctu-ulimate-style-5 .vc-tabs-li, 
.ratesType-page .ctu-ulimate-style-6 .vc-tabs-li {
  width: 100%;
  max-width: 100%;
}
.ratesType-page .ctu-ulimate-style-3 .vc-tabs-li.active, 
.ratesType-page .ctu-ulimate-style-5 .vc-tabs-li.active, 
.ratesType-page .ctu-ulimate-style-6 .vc-tabs-li.active {
  border-color: #ff7c38;
  box-shadow: none;
  color: #ffffff;
  background: #57134d;
  width: 100%;
  border-radius: 0;
  filter: opacity(1);
}
.ratesType-page .ctu-ulitate-style-3-tabs, 
.ratesType-page .ctu-ulitate-style-5-tabs, 
.ratesType-page .ctu-ulitate-style-6-tabs {
  box-shadow: none;
  padding: 20px 30px;
  color: #6c757d;
  border-top: 3px solid #57134d;
  border-radius: 0;
}

.ratesType-page .ctu-ulitate-style-3-tabs li, 
.ratesType-page .ctu-ulitate-style-5-tabs li, 
.ratesType-page .ctu-ulitate-style-6-tabs li {
  padding: 10px;
}

.ratesType-page .ctu-ulitate-style-3-tabs li:first-child, 
.ratesType-page .ctu-ulitate-style-5-tabs li:first-child, 
.ratesType-page .ctu-ulitate-style-6-tabs li:first-child {
  padding-top: 0;
  color: #ff7c38;
  font-size: 20px;
}

.ratesType-page .ctu-ulitate-style-3-tabs li:last-child, 
.ratesType-page .ctu-ulitate-style-5-tabs li:last-child, 
.ratesType-page .ctu-ulitate-style-6-tabs li:last-child {
  padding-bottom: 0;
}


@media (max-width: 1199.98px) {
  .free-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .phone-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .header-item-link, .navbar-nav .menu-item a {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    background: rgba(18,26,58,0.9);
  }
  .header-indicators {
    bottom: 10px;
  }
  .sub-slogan, .sub-info {
    font-size: 4vw;
  }
  .section-image {
    /* max-height: 200px; */
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .resources .ctu-ultimate-style-heading-2.active {
    color: #ffffff;
    border-bottom: 3px solid #57134d;
    border-radius: 0;
    background: #57134d;
  }
  .resources .ctu-ultimate-style-2-content {
    border-radius: 0;
  }
  .resources .ctu-ultimate-style-heading-2 {
    background: #ff7c38;
    font-size: 30px !important;
    border-radius: 0;
  }
  .resources .ctu-ultimate-style-heading-2 .oxi-icons {
    color: #ffffff;
  }

  .ratesType-page .ctu-ultimate-style-heading-3.active, 
  .ratesType-page .ctu-ultimate-style-heading-5.active, 
  .ratesType-page .ctu-ultimate-style-heading-6.active {
    color: #ffffff;
    border-radius: 0;
    background: #57134d;
  }
  .ratesType-page .ctu-ultimate-style-heading-3.active em, 
  .ratesType-page .ctu-ultimate-style-heading-5.active em, 
  .ratesType-page .ctu-ultimate-style-heading-6.active em {
    display: none;
  }
  .ratesType-page .ctu-ultimate-style-heading-3, 
  .ratesType-page .ctu-ultimate-style-heading-5, 
  .ratesType-page .ctu-ultimate-style-heading-6 {
    color: #ffffff;
    background-color: #ff7c38;
    border-radius: 0;
  }
  .ratesType-page .ctu-ultimate-style-heading-3 em, 
  .ratesType-page .ctu-ultimate-style-heading-5 em, 
  .ratesType-page .ctu-ultimate-style-heading-6 em {
    display: none;
  }
  .ratesType-page .ctu-ulitate-style-3-tabs, 
  .ratesType-page .ctu-ulitate-style-5-tabs, 
  .ratesType-page .ctu-ulitate-style-6-tabs {
    padding: 20px 10px;
  }
}

@media (max-width: 767.98px) {
  .free-item:nth-child(2n-2) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .slogan-wrapper {
    width: 70%;
  }
  .slogan, .main-info {
    font-size: 6vw;
  }
  .sub-slogan, .sub-info {
    font-size: 5vw;
  }
  .images-size {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 575.98px) {
  body {
    font-size: 14px;
  }
  .py-custom {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .slogan-wrapper {
    width: 100%;
  }
  .slogan, .main-info {
    font-size: 9vw;
  }
  .sub-slogan, .sub-info {
    font-size: 7vw;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }
  .phone-header-menu a {
    font-size: 11px;
  }
  .resources .ctu-ulitate-style-2-tabs p {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
#wpadminbar {
    position: fixed !important;
}

@media (max-height: 567px) and (max-width: 1100px) {
  .customize-support .navbar-collapse {
    height: calc(100vh - 101px);
    overflow: scroll;
  }
  .navbar-collapse {
    height: calc(100vh - 54px);
    overflow: scroll;
  }
}

